<section class="col-xs-offset-2 col-xs-8">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages_for_user' %>
    <div class="form-group">
      <div class="text-left">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="text-left">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="text-left">
        <%= f.label :password %>
        <%= f.text_field :password, class: "form-control", type:"password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="text-left">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation, class: "form-control", type:"password" %>
      </div>
    </div>

    <div class="text-left">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</section>
